body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAB9E6;
    color: black;
    width: 100%;
}

.navbar-brand {
    width: 5%;
    margin-left: 2%;
}

.logo {
    width: 70%;
    margin-left: 15%;
    display: inline-block;
}

.backhome {
    display: inline-block;
    border-radius: 0;
    background-color: #DAB9E6;
    border: 0px solid #ccc ;
}

.linktootherpage {
    padding: 1%;
    margin-left: 65%;
}



.data {
    display: flex;
    margin-top: 10%;

}

.picevent {
    width: 45%;
    margin-left: 40%;


}

.icon {
    width: 12%;
    margin-left: 2%;
}

.name_event {
    margin-right: 10%;
    text-wrap-mode: nowrap;
}

.p {
    max-width: 100px;
    word-wrap: break-word;
}

@media screen {

}