body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#profileImage {
    max-width: 200px;
    border-radius: 50%;
}

#message {
    color: red;
}

.navbar {
    align-items: center;
    background-color: #DAB9E6;
    color: black;
    padding: 3%;
    width: 100%;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.navbar-menu .menu-icon {
    font-size: 24px;
    cursor: pointer;
}